#Redirect from www.floreriaeventosybanquetes.com to floreriaeventosybanquetes.com
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.floreriaeventosybanquetes.com [NC]
RewriteRule ^(.*)$ http://floreriaeventosybanquetes.com/$1 [L,R=301]
#End Redirect


#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE application/svg+xml image/svg+xml text/text text/plain text/xml text/html text/css text/javascript application/x-javascript application/javascript
</ifmodule>
#End Gzip


#Cache Activation (Leverage browser caching)
<FilesMatch "\.(svg|ico|pdf|jpg|jpeg|png|gif|js|css|SVG|ICO|PDF|JPG|JPEG|PNG|GIF|JS|CSS)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
#End Cache Activation


# Charset
AddCharset utf-8 .html
AddCharset utf-8 .css
AddCharset utf-8 .js
AddCharset iso-8859-1 .php
#End Charset
